scikit-learn
pandas
networkx
seaborn
numpy
graphviz
requests
re
ipython
matplotlib
collections
scipy
jupyter
notebook
webencoding
attrs
backcall
ipykernel
ipython-genutils
ipywidgets
Jinja 2
joblib
jupyter-client
jupyter-console
jupyter-core
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
